.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
body {
  background-color: #a95aec;
  opacity: 60%;
  margin: 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  background-color: transparent;
  z-index: 0;
}